/*----MOBILE-FIRST----MOBILE-FIRST----MOBILE-FIRST----MOBILE-FIRST----MOBILE-FIRST----MOBILE-FIRST----MOBILE-FIRST----MOBILE-FIRST----MOBILE-FIRST----MOBILE-FIRST----
MOBILE-FIRST----MOBILE-FIRST----MOBILE-FIRST----MOBILE-FIRST----MOBILE-FIRST----MOBILE-FIRST----MOBILE-FIRST----MOBILE-FIRST----MOBILE-FIRST----MOBILE-FIRST----MOBILE-FIRST----
MOBILE-FIRST----MOBILE-FIRST----MOBILE-FIRST----MOBILE-FIRST----MOBILE-FIRST----MOBILE-FIRST----MOBILE-FIRST----MOBILE-FIRST----MOBILE-FIRST----MOBILE-FIRST----MOBILE-FIRST----*/
html{
	overflow-x: hidden;/*---------------------------supp scroll bas*/
}
body{
	background-color: #e9edf2;/*--------------------couleur d'arrière plan*/
	margin: 0;/*									marge ext du site à 0*/
}
a:link{
	text-decoration: none;/*------------------------enlève le soulignement des liens*/
	color: black;/*									couleur noir pour les liens*/
}
ul{	
	list-style: none;/*-----------------------------enlève les puces*/
	z-index: 15;/*									place au dessus de tout*/
	padding-left: 20px;/*---------------------------marge intgauche*/
}
li{
	margin: 0;/*------------------------------------marge ext*/
	font-family: sans-serif;/*						police d'écriture*/
	font-size: 1.2em;/*-----------------------------taille de texte*/
	padding-top: 10px;/*							marge int haut*/
	color: black;/*---------------------------------couleur de texte*/
}
header{
	display: flex;/*--------------------------------modifie le comportement des box*/
	padding: 18px;/*								marge intérieur de 10px (partout)*/
	position: fixed;/*------------------------------fixe le header, toujours visible*/
	z-index: 10;/*									toujours au premier plan*/
	background-color: #e9edf2;/*--------------------couleur de fond*/
	width: 100%;/*									prend la largeur de la page*/
	margin-left: -20px;/*---------------------------marge ext gauche*/
}
#gauche{
	flex: 1 1 auto;/*-------------------------------pour partager l'espace égale avec d'autre box*/
	padding-left: 20px;/*							marge int gauche*/
}

#droite{
	flex: 1 1 auto;/*-------------------------------pour partager l'espace égale avec d'autre box*/
	margin-right: 20px;/*							margeext droite*/
}
#droite p{
	cursor: pointer;/*------------------------------créer un pointer au survol*/
	font-family: sans-serif;/*						police d'écriture*/
	font-size: 1em;/*-------------------------------taille du texte*/
	font-weight: bold;/*							texte plus gros*/
}
.hamburger{
	float: right;/*---------------------------------objet flottant en haut à droite*/
}
.menu{
	display: none;/*--------------------------------pour cacher le menu par défaut*/
	position: absolute;/*							position par rapport au parent*/
	background-color: #e9edf2;/*--------------------couleur de fond*/
	margin-top: 50px;/*								marge ext du haut*/
	width: 100%;/*----------------------------------largeur de page*/
	margin-left: 0;/*								marge ext gauche*/
	border-top: 1px solid #c6cace;/*----------------bordure haute*/
}
.show{
	display: block;/*-------------------------------pour montrer le menu déroulant*/
}
#b1{
	margin-right: 0;/*------------------------------marge ext droite à 0*/
	background-color: #3093f7;/*					couleur de fond*/
	border: 1px solid black;/*----------------------bordure*/
	border-radius: 5px 0 0 5px;/*					congé d'angle HG et BG de 5px*/
	color: white;/*---------------------------------couleur de texte*/
	height: 30px;/*									hauteur*/
	width: 120px;/*---------------------------------largeur*/
	margin-top: 20px;/*								marge ext haut*/
}
#b2{
	margin-left: -6px;/*----------------------------marge gauche -6, pour collé les buttons*/
	background-color: white;/*						couleur de fond*/
	border: 1px solid black;/*----------------------bordures*/
	border-radius: 0 5px 5px 0;/*					congé d'angle HD et BD de 5px*/
	height: 30px;/*---------------------------------hauteur*/
	width: 100px;/*									largeur*/
	margin-top: 20px;/*-----------------------------marge ext*/
}
#menu_bas{
	margin-top: 20px;/*-----------------------------marge ext*/
	font-family: sans-serif;/*						police d'écriture*/
	font-size: 1.3em;/*-----------------------------taille police*/
	text-align: center;/*							centre le texte*/
}
.mb{
	font-weight: lighter;/*-------------------------épaisseur de texte*/
	padding-right: 10px;/*							marge int droite*/
	padding-left: 10px;/*---------------------------marge int gauche */
}





/*-------------------------------------------------------------------------------------------------------------------------------*/
content{
	position: absolute;/*---------------------------position pour la page*/
	margin-top: 120px;/*								pour le placement du content par rapport au header*/
	z-index: 1;/*-----------------------------------position du content*/
}
h1{
	font-family: sans-serif;/*----------------------police d'écriture*/
	font-weight: lighter;/*							épaisseur du texte*/
	text-align: center;/*---------------------------centre le texte*/
	font-size: 2.5em;
}
nav{
	background-color: #3f4655;/*--------------------couleur de fond*/
	display: flex;/*								change le comportement des box*/
	flex-direction: column;/*-----------------------box en colomnes*/
	text-align: center;/*							centre le texte*/
}
nav .nav{
	border: 1px solid black;/*----------------------bordure*/
	margin-top: -1px;/*								superpose les bordures */
	margin-right: -1px;/*---------------------------superpose les bordures*/
	display: flex;/*								comportement des box*/
	flex-direction: column;/*-----------------------mettre en colonne*/
	align-items: center;/*							tout centrer*/
}
nav .nav:hover{
	background-color: #3b414f;/*--------------------change lacouleur de fond au survole de la souris*/

	}
nav .anim{
	content: '';/*----------------------------------créer une box vide*/
	/*border: 1px solid black;/*						bordures*/
	width: 200px;/*---------------------------------largeur*/
	height: 200px;/*								hauteur*/
}
nav h3{
	color: white;/*---------------------------------couleur du texte*/
	font-family: sans-serif;/*						police d'écriture*/
}
nav p{
	color: grey;/*----------------------------------couleur de texte*/
	font-family: sans-serif;/*						police d'écriture*/
}
/*---------------------------------------------------------------------------------------------------------------------------------------------------*/
#imgfond{
	position: absolute;/*---------------------------position par rapport au parent*/
	/*width: 1500px;/*								taille del'image*/

}
#content h3{
	text-align: center;/*--------------------------justifier le texte*/
	font-weight: lighter;/*							lettre plus fine*/
	padding: 10px;/*--------------------------------marges int de 10px*/
	font-size: 1.4em;/*								taille texte*/
}
#content button{
	height: 50px;/*---------------------------------hauteur du bouton 50px*/
	width: 300px;/*									largeur 300px*/
	background-color: #3093f7;/*--------------------couleur de fond*/
	color: white;/*									couleur de texte*/
	font-size: 1.4em;/*-----------------------------taille de texte*/
	border-radius: 10px;/*							congé des angles*/
	border: 1px solid #202528;/*--------------------bordures*/
}
#but{
	display: flex;/*--------------------------------positionnement des éléments*/
	flex-direction: column;/*						position en colonne*/
	align-items: center;/*--------------------------centrerles éléments*/
}
#but h4{
	font-family: sans-serif;/*----------------------police d'écriture*/
	font-weight: lighter;/*							épaisseur du texte*/
}

/*------------------------------------------------------------------------------------------------------------------------------------------------------------*/


#content1{
display: flex;
justify-content: center;
align-items: center;
}
#img_ex{
	width: 500px;

}

#imgfond{
	z-index: -4;
	position: absolute;
	width: 1600px;
}

/*---------------------------------------------------------------------------------------*/
#art_2 {
	display: flex;
	flex-direction: column;
	background-color: white;
}
#art_2 h2{
	text-align: center;
	font-weight: lighter;
	font-family: sans-serif;
	font-size: 2em;
}
#art_2 p{
	font-size: 1.6em;
}
#art_2 .prix{
	font-size: 1em;
}
#promo{
	display: inline-flex;
	justify-content: center;
}

#promo h3, #promo p{
	text-align: center;
}
.promos{
	padding: 5px;
}
#pro_1{
	order: 1;
	flex: 1 1 auto;
}
#pro_2{
	order: 2;
	flex: 1 1 auto;
	border-left: 1px solid grey;
}
#pro_1 p, #pro_2 p{
	font-size: 1em;
}
#pro_2 h3, #pro_1 h3{
	font-family: sans-serif;
	font-size: 1.4em;
	font-weight: lighter;
}
#promo button{
	color: white;
	background-color: #3093f7;
	border-radius: 10px;
	padding: 10px;
	border: 1px solid black;
	font-weight: bold;
}

/*----600à1024----600à1024----600à1024----600à1024----600à1024----600à1024----600à1024----600à1024----600à1024----600à1024----600à1024----600à1024----600à1024----600à1024----
600à1024----600à1024----600à1024----600à1024----600à1024----600à1024----600à1024----600à1024----600à1024----600à1024----600à1024----600à1024----600à1024----600à1024----
600à1024----600à1024----600à1024----600à1024----600à1024----600à1024----600à1024----600à1024----600à1024----600à1024----600à1024----600à1024----600à1024----600à1024----600à1024----*/
@media (min-width: 600px){
nav{
	display: flex;
	align-items: center;
}
.ecran_2{
	display: flex;

}
.nav{
	flex-direction: column;
	border: none;
}
#nav1, #nav3{
	border: none;
	border-right: 1px solid black;
}
#nav2, #nav4{
	border: none;
}
#nav1, #nav2, #nav3, #nav4{
	padding-left: 5px;
	padding-right: 5px;
}
/*#nav1{
	order: 1;
	flex: 1 1 auto;
}
#nav2{
	order: 2;
	flex: 1 1 auto;
}
#nav3{
	order: 3;
	flex: 1 1 auto;
}
#nav4{
	order: 4;
	flex: 1 1 auto;
}*/
}


/*---->1024---->1024---->1024---->1024---->1024---->1024---->1024---->1024---->1024---->1024---->1024---->1024---->1024---->1024---->1024---->1024---->1024---->1024---->1024----
>1024---->1024---->1024---->1024---->1024---->1024---->1024---->1024---->1024---->1024---->1024---->1024---->1024---->1024---->1024---->1024---->1024---->1024---->1024---->1024----
>1024---->1024---->1024---->1024---->1024---->1024---->1024---->1024---->1024---->1024---->1024---->1024---->1024---->1024---->1024---->1024---->1024---->1024---->1024---->1024----*/
@media (min-width: 1024px){
content{
	right: 0;
	left: 0;
}
nav{
	clear: all;
	align-items: center;
	/*background-color: green;*/
	display: flex;
	flex-flow: row nowrap;
	align-content: center;
	justify-content: center;
	padding-left: ;
}
.ecran_2{
	/*display: flex;*/
}
#nav1, #nav2, #nav3, #nav4{
	padding-left: 5px;
	padding-right: 5px;
}
#nav1{
	order: 1;
	flex: 1 1 auto;
	max-width: 300px;
}
#nav2{
	order: 2;
	border-right: 1px solid black;
	max-width: 300px;
}
#nav2:hover, #nav3:hover, #nav4:hover{
	border-left: 1px solid black;
}

#nav3{
	order: 3;
	max-width: 300px;
}
#nav4{
	order: 4;
	flex: 1 1 auto;
	max-width: 300px;
}
/*------------------------------------------------------------*/
article #content h3{
	width: 600px;
	text-align: center;
}
article #content{
display: flex;
flex-direction: column;
align-items: center;
}
article{
}

/*-----------------------------------------------------------*/
#content1{
display: flex;
justify-content: center;
align-items: center;
}
#img_ex{
	width: 900px;
}
#imgfond{
	z-index: -4;
	position: absolute;
	width: 1600px;
}
}